.place__title {
  font-size: 72px;
  font-weight: 900;
  width: min-content;
  margin: 0 0 48px;
  line-height: 1.06;
}

@media screen and (max-width: 960px) {
  .place__title {
    font-size: 57px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.06;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    font-size: 32px;
    margin: 0 auto 32px;
    width: 90%;
  }
}
