.lead__caption {
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 1.4;
  align-self: flex-start;
  max-width: 984px;
  width: 90%;
  margin: 8px auto 0;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
  }
}