.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
  }
}